/* styles.css */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h3 {
    margin: 0;
    font-size: 18px;
}

.vertical-line {
    height: 1px; /* 선의 두께 */
    background-color: #005100; /* 선의 색상 */
    width: 300px;
}

.main div {
    margin: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

i {
    font-size: 35px;
    margin-bottom: 8px;
}

span {
    font-size: 13px;
}